<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="vend.dao.VendShopQrcodeMapper" >
  <resultMap id="BaseResultMap" type="vend.entity.VendShopQrcode" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="usercode" property="usercode" jdbcType="VARCHAR" />
    <result column="qrcode" property="qrcode" jdbcType="VARCHAR" />
    <result column="atten_num" property="attenNum" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="pay_time" property="payTime" jdbcType="TIMESTAMP" />
    <result column="extend1" property="extend1" jdbcType="VARCHAR" />
    <result column="extend2" property="extend2" jdbcType="VARCHAR" />
    <result column="extend3" property="extend3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, usercode, qrcode, atten_num, create_time, pay_time, extend1, extend2, extend3
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from vend_shop_qrcode
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from vend_shop_qrcode
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="vend.entity.VendShopQrcode" >
    insert into vend_shop_qrcode (id, usercode, qrcode, 
      atten_num, create_time, pay_time, 
      extend1, extend2, extend3
      )
    values (#{id,jdbcType=INTEGER}, #{usercode,jdbcType=VARCHAR}, #{qrcode,jdbcType=VARCHAR}, 
      #{attenNum,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{payTime,jdbcType=TIMESTAMP}, 
      #{extend1,jdbcType=VARCHAR}, #{extend2,jdbcType=VARCHAR}, #{extend3,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="vend.entity.VendShopQrcode" >
    insert into vend_shop_qrcode
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="usercode != null" >
        usercode,
      </if>
      <if test="qrcode != null" >
        qrcode,
      </if>
      <if test="attenNum != null" >
        atten_num,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="payTime != null" >
        pay_time,
      </if>
      <if test="extend1 != null" >
        extend1,
      </if>
      <if test="extend2 != null" >
        extend2,
      </if>
      <if test="extend3 != null" >
        extend3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="usercode != null" >
        #{usercode,jdbcType=VARCHAR},
      </if>
      <if test="qrcode != null" >
        #{qrcode,jdbcType=VARCHAR},
      </if>
      <if test="attenNum != null" >
        #{attenNum,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payTime != null" >
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="extend1 != null" >
        #{extend1,jdbcType=VARCHAR},
      </if>
      <if test="extend2 != null" >
        #{extend2,jdbcType=VARCHAR},
      </if>
      <if test="extend3 != null" >
        #{extend3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="vend.entity.VendShopQrcode" >
    update vend_shop_qrcode
    <set >
      <if test="usercode != null" >
        usercode = #{usercode,jdbcType=VARCHAR},
      </if>
      <if test="qrcode != null" >
        qrcode = #{qrcode,jdbcType=VARCHAR},
      </if>
      <if test="attenNum != null" >
        atten_num = #{attenNum,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payTime != null" >
        pay_time = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="extend1 != null" >
        extend1 = #{extend1,jdbcType=VARCHAR},
      </if>
      <if test="extend2 != null" >
        extend2 = #{extend2,jdbcType=VARCHAR},
      </if>
      <if test="extend3 != null" >
        extend3 = #{extend3,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="vend.entity.VendShopQrcode" >
    update vend_shop_qrcode
    set usercode = #{usercode,jdbcType=VARCHAR},
      qrcode = #{qrcode,jdbcType=VARCHAR},
      atten_num = #{attenNum,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      pay_time = #{payTime,jdbcType=TIMESTAMP},
      extend1 = #{extend1,jdbcType=VARCHAR},
      extend2 = #{extend2,jdbcType=VARCHAR},
      extend3 = #{extend3,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
       <!-- 一下为自定义方法 -->
  <select id="listVendShopQrcode" resultMap="BaseResultMap">
	select
	<include refid="Base_Column_List" />
	from vend_shop_qrcode
	<where>
		<if test="vendShopQrcode.extend1 != null and !&quot;&quot;.equals(vendShopQrcode.extend1.trim())">
			and extend1 = #{vendShopQrcode.extend1}
		</if>
		<if test="vendShopQrcode.extend2 != null and !&quot;&quot;.equals(vendShopQrcode.extend2.trim())">
			and extend2 = #{vendShopQrcode.extend2}
		</if>
	</where>order by id limit #{page.dbIndex},#{page.dbNumber}
  </select>
  
  <select id="countVendShopQrcode" resultType="int" parameterType="vend.entity.VendShopQrcode">
 	select count(*) from vend_shop_qrcode
 	<where>
 		<if test="extend1 != null and !&quot;&quot;.equals(extend1.trim())">
		and extend1 = #{extend1}
	    </if>
	    <if test="extend2 != null and !&quot;&quot;.equals(extend2.trim())">
		and extend2 = #{extend2}
	    </if>
 	</where>
  </select>
  
   <select id="findAll" resultMap="BaseResultMap">
 	select * from vend_shop_qrcode
  </select>
  <!-- 批量删除 -->
    <delete id="deleteBatch" parameterType="int">
        delete from vend_shop_qrcode where id in
        <foreach item="item" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
</mapper>