<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="vend.dao.VendParaMapper" >
  <resultMap id="BaseResultMap" type="vend.entity.VendPara" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="para_code" property="paraCode" jdbcType="VARCHAR" />
    <result column="para_content" property="paraContent" jdbcType="VARCHAR" />
    <result column="extend1" property="extend1" jdbcType="VARCHAR" />
    <result column="extend2" property="extend2" jdbcType="VARCHAR" />
    <result column="extend3" property="extend3" jdbcType="VARCHAR" />
    <result column="desprision" property="desprision" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, para_code, para_content, extend1, extend2, extend3, desprision
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from vend_para
    where id = #{id,jdbcType=INTEGER}
  </select>
   <select id="selectByParaCode" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from vend_para
    where para_code = #{paraCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from vend_para
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="vend.entity.VendPara" >
    insert into vend_para (id, para_code, para_content, 
      extend1, extend2, extend3, 
      desprision)
    values (#{id,jdbcType=INTEGER}, #{paraCode,jdbcType=VARCHAR}, #{paraContent,jdbcType=VARCHAR}, 
      #{extend1,jdbcType=VARCHAR}, #{extend2,jdbcType=VARCHAR}, #{extend3,jdbcType=VARCHAR}, 
      #{desprision,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="vend.entity.VendPara" >
    insert into vend_para
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="paraCode != null" >
        para_code,
      </if>
      <if test="paraContent != null" >
        para_content,
      </if>
      <if test="extend1 != null" >
        extend1,
      </if>
      <if test="extend2 != null" >
        extend2,
      </if>
      <if test="extend3 != null" >
        extend3,
      </if>
      <if test="desprision != null" >
        desprision,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="paraCode != null" >
        #{paraCode,jdbcType=VARCHAR},
      </if>
      <if test="paraContent != null" >
        #{paraContent,jdbcType=VARCHAR},
      </if>
      <if test="extend1 != null" >
        #{extend1,jdbcType=VARCHAR},
      </if>
      <if test="extend2 != null" >
        #{extend2,jdbcType=VARCHAR},
      </if>
      <if test="extend3 != null" >
        #{extend3,jdbcType=VARCHAR},
      </if>
      <if test="desprision != null" >
        #{desprision,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="vend.entity.VendPara" >
    update vend_para
    <set >
      <if test="paraCode != null" >
        para_code = #{paraCode,jdbcType=VARCHAR},
      </if>
      <if test="paraContent != null" >
        para_content = #{paraContent,jdbcType=VARCHAR},
      </if>
      <if test="extend1 != null" >
        extend1 = #{extend1,jdbcType=VARCHAR},
      </if>
      <if test="extend2 != null" >
        extend2 = #{extend2,jdbcType=VARCHAR},
      </if>
      <if test="extend3 != null" >
        extend3 = #{extend3,jdbcType=VARCHAR},
      </if>
      <if test="desprision != null" >
        desprision = #{desprision,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="vend.entity.VendPara" >
    update vend_para
    set para_code = #{paraCode,jdbcType=VARCHAR},
      para_content = #{paraContent,jdbcType=VARCHAR},
      extend1 = #{extend1,jdbcType=VARCHAR},
      extend2 = #{extend2,jdbcType=VARCHAR},
      extend3 = #{extend3,jdbcType=VARCHAR},
      desprision = #{desprision,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- 一下为自定义方法 -->
  <select id="listVendPara" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from vend_para
  	<where>
  		<if test="vendPara.paraCode != null and !&quot;&quot;.equals(vendPara.paraCode.trim())">
  			and para_code = #{vendPara.paraCode}
  		</if>
  	</where>order by id limit #{page.dbIndex},#{page.dbNumber}
  </select>
  
  <select id="countVendPara" resultType="int" parameterType="vend.entity.VendPara">
  	select count(*) from vend_para
  	<where>
  		<if test="paraCode != null and !&quot;&quot;.equals(paraCode.trim())">
  			and para_code = #{paraCode}
  		</if>
  	</where>
  </select>
</mapper>