<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="vend.dao.VendSyslogMapper" >
  <resultMap id="BaseResultMap" type="vend.entity.VendSyslog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="usercode" property="usercode" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="oper_ip" property="operIp" jdbcType="VARCHAR" />
    <result column="oper_time" property="operTime" jdbcType="TIMESTAMP" />
    <result column="oper_url" property="operUrl" jdbcType="VARCHAR" />
    <result column="oper_description" property="operDescription" jdbcType="VARCHAR" />
    <result column="extend1" property="extend1" jdbcType="VARCHAR" />
    <result column="extend2" property="extend2" jdbcType="VARCHAR" />
    <result column="extend3" property="extend3" jdbcType="VARCHAR" />
    <result column="extend4" property="extend4" jdbcType="VARCHAR" />
    <result column="extend5" property="extend5" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, usercode, username, oper_ip, oper_time, oper_url, oper_description, extend1, 
    extend2, extend3, extend4, extend5
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from vend_syslog
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from vend_syslog
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="vend.entity.VendSyslog" >
    insert into vend_syslog (id, usercode, username, 
      oper_ip, oper_time, oper_url, 
      oper_description, extend1, extend2, 
      extend3, extend4, extend5
      )
    values (#{id,jdbcType=INTEGER}, #{usercode,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{operIp,jdbcType=VARCHAR}, #{operTime,jdbcType=TIMESTAMP}, #{operUrl,jdbcType=VARCHAR}, 
      #{operDescription,jdbcType=VARCHAR}, #{extend1,jdbcType=VARCHAR}, #{extend2,jdbcType=VARCHAR}, 
      #{extend3,jdbcType=VARCHAR}, #{extend4,jdbcType=VARCHAR}, #{extend5,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="vend.entity.VendSyslog" >
    insert into vend_syslog
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="usercode != null" >
        usercode,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="operIp != null" >
        oper_ip,
      </if>
      <if test="operTime != null" >
        oper_time,
      </if>
      <if test="operUrl != null" >
        oper_url,
      </if>
      <if test="operDescription != null" >
        oper_description,
      </if>
      <if test="extend1 != null" >
        extend1,
      </if>
      <if test="extend2 != null" >
        extend2,
      </if>
      <if test="extend3 != null" >
        extend3,
      </if>
      <if test="extend4 != null" >
        extend4,
      </if>
      <if test="extend5 != null" >
        extend5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="usercode != null" >
        #{usercode,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="operIp != null" >
        #{operIp,jdbcType=VARCHAR},
      </if>
      <if test="operTime != null" >
        #{operTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operUrl != null" >
        #{operUrl,jdbcType=VARCHAR},
      </if>
      <if test="operDescription != null" >
        #{operDescription,jdbcType=VARCHAR},
      </if>
      <if test="extend1 != null" >
        #{extend1,jdbcType=VARCHAR},
      </if>
      <if test="extend2 != null" >
        #{extend2,jdbcType=VARCHAR},
      </if>
      <if test="extend3 != null" >
        #{extend3,jdbcType=VARCHAR},
      </if>
      <if test="extend4 != null" >
        #{extend4,jdbcType=VARCHAR},
      </if>
      <if test="extend5 != null" >
        #{extend5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="vend.entity.VendSyslog" >
    update vend_syslog
    <set >
      <if test="usercode != null" >
        usercode = #{usercode,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="operIp != null" >
        oper_ip = #{operIp,jdbcType=VARCHAR},
      </if>
      <if test="operTime != null" >
        oper_time = #{operTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operUrl != null" >
        oper_url = #{operUrl,jdbcType=VARCHAR},
      </if>
      <if test="operDescription != null" >
        oper_description = #{operDescription,jdbcType=VARCHAR},
      </if>
      <if test="extend1 != null" >
        extend1 = #{extend1,jdbcType=VARCHAR},
      </if>
      <if test="extend2 != null" >
        extend2 = #{extend2,jdbcType=VARCHAR},
      </if>
      <if test="extend3 != null" >
        extend3 = #{extend3,jdbcType=VARCHAR},
      </if>
      <if test="extend4 != null" >
        extend4 = #{extend4,jdbcType=VARCHAR},
      </if>
      <if test="extend5 != null" >
        extend5 = #{extend5,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="vend.entity.VendSyslog" >
    update vend_syslog
    set usercode = #{usercode,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      oper_ip = #{operIp,jdbcType=VARCHAR},
      oper_time = #{operTime,jdbcType=TIMESTAMP},
      oper_url = #{operUrl,jdbcType=VARCHAR},
      oper_description = #{operDescription,jdbcType=VARCHAR},
      extend1 = #{extend1,jdbcType=VARCHAR},
      extend2 = #{extend2,jdbcType=VARCHAR},
      extend3 = #{extend3,jdbcType=VARCHAR},
      extend4 = #{extend4,jdbcType=VARCHAR},
      extend5 = #{extend5,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- 一下为自定义方法 -->
  <select id="listVendSyslog" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List" />
  	from vend_syslog
  	<where>
  		<if test="vendSyslog.usercode != null and !&quot;&quot;.equals(vendSyslog.usercode.trim())">
  			and usercode = #{vendSyslog.usercode}
  		</if>
  		<if test="vendSyslog.username != null and !&quot;&quot;.equals(vendSyslog.username.trim())">
  			and username = #{vendSyslog.username}
  		</if>
  		<if test="vendSyslog.operDescription != null and !&quot;&quot;.equals(vendSyslog.operDescription.trim())">
  			and oper_description = #{vendSyslog.operDescription}
  		</if>
  	</where>order by oper_time desc limit #{page.dbIndex},#{page.dbNumber}
  </select>
  
  <select id="countVendSyslog" resultType="int" parameterType="vend.entity.VendSyslog">
  	select count(*) from vend_syslog
  	<where>
  		<if test="usercode != null and !&quot;&quot;.equals(usercode.trim())">
  			and usercode = #{usercode}
  		</if>
  		<if test="username != null and !&quot;&quot;.equals(username.trim())">
  			and username = #{username}
  		</if>
  		<if test="operDescription != null and !&quot;&quot;.equals(operDescription.trim())">
  			and oper_description = #{operDescription}
  		</if>
  	</where>
  </select>
</mapper>