<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="vend.dao.VendPermissionMapper" >
  <resultMap id="BaseResultMap" type="vend.entity.VendPermission" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="permission_name" property="permissionName" jdbcType="VARCHAR" />
    <result column="permission_description" property="permissionDescription" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="extend1" property="extend1" jdbcType="VARCHAR" />
    <result column="extend2" property="extend2" jdbcType="VARCHAR" />
    <result column="extend3" property="extend3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, parent_id, permission_name, permission_description, create_time, update_time, 
    extend1, extend2, extend3
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from vend_permission
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByPermissionName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from vend_permission
    where permission_name = #{permissionName,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from vend_permission
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="vend.entity.VendPermission" >
    insert into vend_permission (id, parent_id, permission_name, 
      permission_description, create_time, update_time, 
      extend1, extend2, extend3
      )
    values (#{id,jdbcType=INTEGER}, #{parentId,jdbcType=INTEGER}, #{permissionName,jdbcType=VARCHAR}, 
      #{permissionDescription,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{extend1,jdbcType=VARCHAR}, #{extend2,jdbcType=VARCHAR}, #{extend3,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="vend.entity.VendPermission" >
    insert into vend_permission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="permissionName != null" >
        permission_name,
      </if>
      <if test="permissionDescription != null" >
        permission_description,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="extend1 != null" >
        extend1,
      </if>
      <if test="extend2 != null" >
        extend2,
      </if>
      <if test="extend3 != null" >
        extend3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="permissionName != null" >
        #{permissionName,jdbcType=VARCHAR},
      </if>
      <if test="permissionDescription != null" >
        #{permissionDescription,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="extend1 != null" >
        #{extend1,jdbcType=VARCHAR},
      </if>
      <if test="extend2 != null" >
        #{extend2,jdbcType=VARCHAR},
      </if>
      <if test="extend3 != null" >
        #{extend3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="vend.entity.VendPermission" >
    update vend_permission
    <set >
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="permissionName != null" >
        permission_name = #{permissionName,jdbcType=VARCHAR},
      </if>
      <if test="permissionDescription != null" >
        permission_description = #{permissionDescription,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="extend1 != null" >
        extend1 = #{extend1,jdbcType=VARCHAR},
      </if>
      <if test="extend2 != null" >
        extend2 = #{extend2,jdbcType=VARCHAR},
      </if>
      <if test="extend3 != null" >
        extend3 = #{extend3,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="vend.entity.VendPermission" >
    update vend_permission
    set parent_id = #{parentId,jdbcType=INTEGER},
      permission_name = #{permissionName,jdbcType=VARCHAR},
      permission_description = #{permissionDescription,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      extend1 = #{extend1,jdbcType=VARCHAR},
      extend2 = #{extend2,jdbcType=VARCHAR},
      extend3 = #{extend3,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
   <!-- 一下为自定义方法 -->
  <select id="listVendPermission" resultMap="BaseResultMap">
	select
	<include refid="Base_Column_List" />
	from vend_permission
	<where>
		<if test="vendPermission.parentId != null and !&quot;&quot;.equals(vendPermission.parentId.trim())">
			and parent_id = #{VendPermission.parentId}
		</if>
		<if test="vendPermission.permissionName != null and !&quot;&quot;.equals(vendPermission.permissionName.trim())">
			and permission_name = #{VendPermission.permissionName}
		</if>
	</where>order by id limit #{page.dbIndex},#{page.dbNumber}
  </select>
  
  <select id="countVendPermission" resultType="int" parameterType="vend.entity.VendPermission">
 	select count(*) from vend_permission
 	<where>
 		<if test="parentId != null and !&quot;&quot;.equals(parentId.trim())">
			and parent_id = #{parentId}
		</if>
		<if test="permissionName != null and !&quot;&quot;.equals(permissionName.trim())">
			and permission_name = #{permissionName}
		</if>
 	</where>
  </select>
  
    <select id="selectByParams" resultMap="BaseResultMap">
	   select
	<include refid="Base_Column_List" />
	from vend_permission
	<where>
		<if test="vendPermission.parentId != null and !&quot;&quot;.equals(vendPermission.parentId.trim())">
			and parent_id = #{VendPermission.parentId}
		</if>
		<if test="vendPermission.permissionName != null and !&quot;&quot;.equals(vendPermission.permissionName.trim())">
			and permission_name = #{VendPermission.permissionName}
		</if>
		<if test="vendPermission.extend1 != null and !&quot;&quot;.equals(vendPermission.extend1.trim())">
			and extend1 = #{VendPermission.extend1}
		</if>
	</where>
  </select>
  
   <select id="findAll" resultMap="BaseResultMap">
 	select * from vend_permission
  </select>
  <!-- 批量添加 -->
  <insert id="insertBatch" parameterType="java.util.List">
	  insert into vend_permission (parent_id,permission_name,permission_description,create_time,update_time,extend1,extend2,extend3)
	        values
       <foreach collection="list" item="item" index="index" separator=",">
           (#{item.parentId,jdbcType=VARCHAR},
            #{item.permissionName,jdbcType=VARCHAR},
            #{item.permissionDescription,jdbcType=VARCHAR},
            #{item.createTime,jdbcType=TIMESTAMP},
            #{item.updateTime,jdbcType=TIMESTAMP},
            #{item.extend1,jdbcType=VARCHAR},
            #{item.extend2,jdbcType=VARCHAR},
            #{item.extend3,jdbcType=VARCHAR}
            )
       </foreach>
  </insert>
  <!-- 批量删除 -->
    <delete id="deleteBatch" parameterType="int">
        delete from vend_permission where id in
        <foreach item="item" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
</mapper>