<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="vend.dao.VendAuthorizeMapper" >
  <resultMap id="BaseResultMap" type="vend.entity.VendAuthorize" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="authorize_name" property="authorizeName" jdbcType="VARCHAR" />
    <result column="authorize_intro" property="authorizeIntro" jdbcType="VARCHAR" />
    <result column="usercode" property="usercode" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="extend1" property="extend1" jdbcType="VARCHAR" />
    <result column="extend2" property="extend2" jdbcType="VARCHAR" />
    <result column="extend3" property="extend3" jdbcType="VARCHAR" />
    <result column="extend4" property="extend4" jdbcType="VARCHAR" />
    <result column="extend5" property="extend5" jdbcType="VARCHAR" />
    <result column="extend6" property="extend6" jdbcType="VARCHAR" />
    <result column="extend7" property="extend7" jdbcType="VARCHAR" />
    <result column="extend8" property="extend8" jdbcType="VARCHAR" />
    <result column="extend9" property="extend9" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, authorize_name, authorize_intro, usercode, create_time, extend1, extend2, extend3, 
    extend4, extend5, extend6, extend7, extend8, extend9
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from vend_authorize
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from vend_authorize
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="vend.entity.VendAuthorize" >
    insert into vend_authorize (id, authorize_name, authorize_intro, 
      usercode, create_time, extend1, 
      extend2, extend3, extend4, 
      extend5, extend6, extend7, 
      extend8, extend9)
    values (#{id,jdbcType=INTEGER}, #{authorizeName,jdbcType=VARCHAR}, #{authorizeIntro,jdbcType=VARCHAR}, 
      #{usercode,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{extend1,jdbcType=VARCHAR}, 
      #{extend2,jdbcType=VARCHAR}, #{extend3,jdbcType=VARCHAR}, #{extend4,jdbcType=VARCHAR}, 
      #{extend5,jdbcType=VARCHAR}, #{extend6,jdbcType=VARCHAR}, #{extend7,jdbcType=VARCHAR}, 
      #{extend8,jdbcType=VARCHAR}, #{extend9,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="vend.entity.VendAuthorize" >
    insert into vend_authorize
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="authorizeName != null" >
        authorize_name,
      </if>
      <if test="authorizeIntro != null" >
        authorize_intro,
      </if>
      <if test="usercode != null" >
        usercode,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="extend1 != null" >
        extend1,
      </if>
      <if test="extend2 != null" >
        extend2,
      </if>
      <if test="extend3 != null" >
        extend3,
      </if>
      <if test="extend4 != null" >
        extend4,
      </if>
      <if test="extend5 != null" >
        extend5,
      </if>
      <if test="extend6 != null" >
        extend6,
      </if>
      <if test="extend7 != null" >
        extend7,
      </if>
      <if test="extend8 != null" >
        extend8,
      </if>
      <if test="extend9 != null" >
        extend9,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="authorizeName != null" >
        #{authorizeName,jdbcType=VARCHAR},
      </if>
      <if test="authorizeIntro != null" >
        #{authorizeIntro,jdbcType=VARCHAR},
      </if>
      <if test="usercode != null" >
        #{usercode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="extend1 != null" >
        #{extend1,jdbcType=VARCHAR},
      </if>
      <if test="extend2 != null" >
        #{extend2,jdbcType=VARCHAR},
      </if>
      <if test="extend3 != null" >
        #{extend3,jdbcType=VARCHAR},
      </if>
      <if test="extend4 != null" >
        #{extend4,jdbcType=VARCHAR},
      </if>
      <if test="extend5 != null" >
        #{extend5,jdbcType=VARCHAR},
      </if>
      <if test="extend6 != null" >
        #{extend6,jdbcType=VARCHAR},
      </if>
      <if test="extend7 != null" >
        #{extend7,jdbcType=VARCHAR},
      </if>
      <if test="extend8 != null" >
        #{extend8,jdbcType=VARCHAR},
      </if>
      <if test="extend9 != null" >
        #{extend9,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="vend.entity.VendAuthorize" >
    update vend_authorize
    <set >
      <if test="authorizeName != null" >
        authorize_name = #{authorizeName,jdbcType=VARCHAR},
      </if>
      <if test="authorizeIntro != null" >
        authorize_intro = #{authorizeIntro,jdbcType=VARCHAR},
      </if>
      <if test="usercode != null" >
        usercode = #{usercode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="extend1 != null" >
        extend1 = #{extend1,jdbcType=VARCHAR},
      </if>
      <if test="extend2 != null" >
        extend2 = #{extend2,jdbcType=VARCHAR},
      </if>
      <if test="extend3 != null" >
        extend3 = #{extend3,jdbcType=VARCHAR},
      </if>
      <if test="extend4 != null" >
        extend4 = #{extend4,jdbcType=VARCHAR},
      </if>
      <if test="extend5 != null" >
        extend5 = #{extend5,jdbcType=VARCHAR},
      </if>
      <if test="extend6 != null" >
        extend6 = #{extend6,jdbcType=VARCHAR},
      </if>
      <if test="extend7 != null" >
        extend7 = #{extend7,jdbcType=VARCHAR},
      </if>
      <if test="extend8 != null" >
        extend8 = #{extend8,jdbcType=VARCHAR},
      </if>
      <if test="extend9 != null" >
        extend9 = #{extend9,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="vend.entity.VendAuthorize" >
    update vend_authorize
    set authorize_name = #{authorizeName,jdbcType=VARCHAR},
      authorize_intro = #{authorizeIntro,jdbcType=VARCHAR},
      usercode = #{usercode,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      extend1 = #{extend1,jdbcType=VARCHAR},
      extend2 = #{extend2,jdbcType=VARCHAR},
      extend3 = #{extend3,jdbcType=VARCHAR},
      extend4 = #{extend4,jdbcType=VARCHAR},
      extend5 = #{extend5,jdbcType=VARCHAR},
      extend6 = #{extend6,jdbcType=VARCHAR},
      extend7 = #{extend7,jdbcType=VARCHAR},
      extend8 = #{extend8,jdbcType=VARCHAR},
      extend9 = #{extend9,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <!-- 一下为自定义方法 -->
  <select id="listVendAuthorize" resultMap="BaseResultMap">
	select
	<include refid="Base_Column_List" />
	from vend_authorize
	<where>
		<if test="vendAuthorize.authorizeName != null and !&quot;&quot;.equals(vendAuthorize.authorizeName.trim())">
			and authorize_name = #{VendAuthorize.authorizeName}
		</if>
		<if test="vendAuthorize.usercode != null and !&quot;&quot;.equals(vendAuthorize.usercode.trim())">
			and usercode = #{VendAuthorize.usercode}
		</if>
	</where>order by id limit #{page.dbIndex},#{page.dbNumber}
  </select>
  
  <select id="countVendAuthorize" resultType="int" parameterType="vend.entity.VendAuthorize">
 	select count(*) from vend_authorize
 	<where>
 		<if test="authorizeName != null and !&quot;&quot;.equals(authorizeName.trim())">
			and authorize_name = #{VendAuthorize.authorizeName}
		</if>
		<if test="usercode != null and !&quot;&quot;.equals(usercode.trim())">
			and usercode = #{usercode}
		</if>
 	</where>
  </select>
  
   <select id="selectByUsercode" resultMap="BaseResultMap" parameterType="java.lang.String">
 	 select * from vend_authorize where usercode = #{usercode,jdbcType=VARCHAR}
  </select>
  
   <select id="findAll" resultMap="BaseResultMap">
 	select * from vend_authorize
  </select>
</mapper>